
<!-- JUMBOTRON -------------------------------------------------------->
<div class="jumbotron">
  <div class="container">
    <div class="row" id="jumbo-crc">
      <h3>Welcome to the</h3>
      <h1>Caribbean Regenerative Center</h1>
    </div>
  </div>
</div>

<!-- CRC CAROUSEL  ----------------------------------------------------->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>State of the art treatment center</h1>
            <h3>Po</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">Learn More</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1>Relax</h1>
            <h3>Pairing the innovation of medical technology with the peace and tranquility of the Caribbean Sea.</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all Treatments</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
            <h1>Innovation</h1>
            <h3>We treat neurological, degenerative, autoimmune, and orthopedic issues with the latest advancements in stem cell therapy.</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">Learn More</button>
      </div>
    </div>
  </div>
</div>


<!-- CONTACT INFO DIV ------------------------------------------->
<div class="container-fluid" id="crc-info">
  <div class="row">
    <p>For any questions, please email us at info@crc.co</p>
  </div>
</div>

<!-- CRC INFO DIV -------------------------------------------------->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" id='crc-tech-text'>
      <h2>We treat some of the most common conditions with stem cell therapy.</h2>
    </div>
  </div>
</div>

<div class="container-fluid" id="crc-tech">
  <div class="row">
    <div class="col-md-3" id="features">
      <i class="fa fa-user-md" aria-hidden="true"></i>
    </div>

    <div class="col-md-3" id="features">
      <i class="fa fa-heartbeat" aria-hidden="true"></i>
    </div>

    <div class="col-md-3" id="features">

    </div>

    <div class="col-md-3" id="features">

    </div>
  </div>
</div>
