<nav class="clearfix">
  <ul class="clearfix">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Research</a></li>
    <li><a href="#">Resources</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  <a href="#" id="pull"><i class="fa fa-bars" aria-hidden="true"></i>
</a>
</nav>
  <h1>CARIBBEAN REGENERATIVE CENTER</h1>
