<div class="jumbotron" id="contact-jumbo">
  <div class="container-fluid">

  </div>
</div>


<div class="container-fluid">
  <div class="row" id="contact-header">
    <h1>Caribbean Regenerative Center</h1>
    <p id="contact-value">We value your questions and concerns and are available around the clock for your assistance.</p>
    <hr class="contact-hr">
    <h4 id="contact-rep">Please submit your information and a representative will reach out to you within 24-48 hours.</h4>
  </div>
</div>

<div class="container-fluid" id="contact-form">
  <div class="row">
    <div class="col-md-6" id="contact-form-padding">
      <%= render 'form', contact: @contact %>
    </div>

    <div class="col-md-6" id="contact-crc">
      <h4>Caribbean Regenerative Center</h4>
      <p>Telephone: (888) 876-1234</p>
      <p>Ocho Rios, Jamaica</p>
      <p>info@crc.co</p>
      <%= image_tag 'google_map_image.png', id: 'google-image' %>
      <p>You can follow us on social media!</p>
    </div>
  </div>
</div>

<!-- <%= link_to 'New Contact', new_contact_path %> -->
