<div class="splash-bg">
  <div class="splash-text" style="display:none;">
    <h3 id="welcome">Welcome to the</h3>
    <a href="home/index" id="crc-a-tag"><h1 id="crc-intro">Caribbean Regenerative Center</h1></a>

  </div>

</div>
