<!-- <div class="jumbotron" id="about-jumbotron"> -->
  <div class="container-fluid" id="about-jumbotron">


  </div>
<!-- </div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>Here at the Caribbean Regenerative Center, we believe in creating a relaxing and rejuvenating experience for our clients.</h3>
    </div>
  </div>

<hr>

  <div class="row" id="about-text">
    <div class="col-md-6">
      <h5>The Caribbean Regenerative Center was opened in January 2017.</h5>
      <p>Lorem ipsum dolor sit amet, vestibulum quam purus donec, sit augue, nonummy ultricies elementum, sed nec integer erat nisl rutrum et, eget dolor gravida euismod. Vivamus lectus nunc quam, faucibus cursus molestie quis molestie sit cursus. Faucibus aliquet, vitae ut quisque euismod justo morbi, nulla felis pede, tellus elit adipiscing neque fermentum aliquam, id vestibulum pellentesque accumsan. Mauris ut lacus litora non, libero quis, primis sed facilisi nunc nam enim quam, tellus sed erat scelerisque velit porttitor nonummy, sollicitudin facilisis semper a massa luctus. <br> Ut id placerat massa, imperdiet arcu, quis non eu lectus.
Quam elit suscipit adipiscing tincidunt pharetra donec, wisi amet vestibulum. Vestibulum sit, scelerisque venenatis, mi massa quam eu elementum accumsan. A eu eu sodales mi nunc, adipiscing non quis urna quo, turpis integer sit amet ridiculus ligula dolor. Sed consequatur proin lectus varius. A ullamcorper in, pellentesque ornare tellus nec in, fringilla nec, sit aenean lorem.
Tempor a. <br> Pharetra massa eget non id molestie. Massa eleifend vel, semper congue donec doloremque dolor justo. Malesuada tempus, non in nunc dignissim sed arcu, magna purus convallis facilisis, mi diamlorem sapien ut dolor eget mauris. Nullam massa vestibulum ultrices in orci nulla, autem sed feugiat odio sit, nullam in mauris cras metus sed nulla, diam quis.</p>
    </div>

    <div class="col-md-6" id="about-image">
      <!-- <img src="villaviento_gazebo.jpg" alt="villa viento"> -->
    </div>

  </div>

</div>
